*{
    font-family: Arial, Helvetica, sans-serif;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(221, 216, 196);
    padding: 15px 8px;
    width: 50vw;
    margin: auto;
}
#main-heading{
    text-align: center;
    background-color: rgb(40, 43, 44);
    border: 1px solid rgb(255, 191, 112);
    color: white;
    border-radius: 10px;
    padding: 10px 0px;
    width: 65%;
}



.todo-container{
    display: grid;
    grid-template-columns: 200px 120px 100px;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 120px 100px;
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
    
}

#todo-input,#todo-date{
   font-size: 15px;
   padding:10px 5px;
   border-radius: 5px;
}

.delete-button{
    background-color: rgb(222, 65, 65);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 2px;
    font-weight: 700;

}

.add-button{
    background-color: rgb(127, 209, 99);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 2px;
    font-weight: 700;
}

.delete-button:hover{
    background-color: rgb(149, 43, 43);
    font-weight: 800;
}

.add-button:hover{
    background-color: rgb(91, 159, 68);
    font-weight: 800;
}
